[submodule "include/googletest"]
	path = include/googletest
	url = https://github.com/google/googletest.git
[submodule "include/spdlog"]
	path = include/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "include/mongo-cxx-driver"]
	path = include/mongo-cxx-driver
	url = https://github.com/mongodb/mongo-cxx-driver.git
    branch = releases/stable
