# list of folders not to be included in
/bin
/build
*/logs/*
/src/version.h

# list of files not to be included in
*.o
*.exe
*.aux
*.log
*.out
*.synctex.gz

# files auto fix of vscode
.vscode/.cmaketools.json
.vscode/last.sql

# ignore vim swap files
*/*.swp
/*.swp

# exception
!cppcheck.log
